<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
    <head>
        <title>Api consumo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- Bootstrap Bundle JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        
        <link th:href="@{/css/default.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div th:text="${#authentication.name}">
            </div>
            <div class="row align-items-center">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded align-middle">
                    <div class="card-body">
                        <form>
                            <label>Mês/Ano início</label>
                            <input type="month" />
                            <label>Mês/Ano fim</label>
                            <input type="month"/>
                            <button type="button" class="btn btn-primary">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
            <p><a href="/logout">Sair</a></p>
        </div>
    </body>

</html>
