<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
    <head>
        <title>Api consumo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:rel="stylesheet" th:href="@{/css/default.css}"/>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
        <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.15.2/css/all.css} "/>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between mb-3">
            <div class="navbar-nav" style="color: white;" th:text="${#authentication.name}"></div>
            <p><a th:href="@{/logout}">Sair</a></p>
        </nav>
        <div class="container ">
            
            <div class="d-flex justify-content-center align-items-center">
                <div class="card shadow-lg p-3 mb-5 bg-body rounded align-middle">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <form id="formulario" th:object="${dataRequest}" th:action="@{/gastos-cartoes}" method="post">
                        <!--<form id="formulario" th:object="${dataRequest}" >-->
                            <div class="form-group p-6">
                                <label for="inicio">Mês início</label>
                                <input id="inicio" class="form-control" type="month" required th:field="*{mesInicio}" th:errorclass="error"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('mesInicio')}" th:errors="*{name}"> </div>
                            </div>
                            <div class="form-group p-6">
                                <label for="fim">Mês fim</label>
                                <input id="fim" class="form-control" type="month" required th:field="*{mesFim}" th:errorclass="error"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('mesFim')}" th:errors="*{name}"> </div>
                            </div>
                            <div class="p-12">
                                <button class="btn btn-primary btn-block">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript">
            /*$('#formulario').on('submit', (event) => {
                event.preventDefault();
                
                var formulario = document.getElementById("formulario");
                var fd = new FormData(formulario);
                
                $.get("/gasto-portal-transparencia/v1/api/gastos-cartoes", JSON.stringnify(fd), (returnData) => {
                	alert('sucesso')
                })

                /* $.ajax({
                    url: "/gasto-portal-transparencia/v1/api/gastos-cartoes",
                    data: fd,
                    cache: false,
                    success: (data) => {
                        alert('sucesso')
                    },
                    error: (e) => {
                        alert('falha')
                    }
                }); 
            })*/
        </script>
        
    </body>

</html>
